name: Update
on:
  schedule:
    - cron: '0 * * * *'
  workflow_dispatch:

env:
  MANIFEST_PATH: # Path to manifest
  UPSTREAM_BRANCH: main # Upstream branch (change if needed)
  REPO: # link to project repository (optional)

jobs:
  update:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/flathub/flatpak-external-data-checker

    steps:
    - uses: actions/checkout@v2
      with:
        submodules: true

    - name: Update manifest
      continue-on-error: true
      env:
        GITHUB_TOKEN: ${{ secrets.PAT }}
      run: |
        set -x
        git clone -b ${UPSTREAM_BRANCH} https://${GITHUB_ACTOR}:${GITHUB_TOKEN}@github.com/${GITHUB_REPOSITORY}.git ${UPSTREAM_BRANCH}
        cd ${UPSTREAM_BRANCH}
        git config user.email "github-actions[bot]@users.noreply.github.com"
        git config user.name "github-actions[bot]"
        /app/flatpak-external-data-checker --update --commit-only ${MANIFEST_PATH}

    - name: Push to branch
      continue-on-error: true
      run: |
        set -x
        cd ${UPSTREAM_BRANCH}
        git push origin HEAD:${UPSTREAM_BRANCH}
